.form {
  display: grid;
  grid-template-rows: 85% 15%;
}

.middle_container > :not(:last-child) {
  margin-bottom: 15px;
}

.input {
  width: 100%;
  padding: 11px 0px 10px 9px;
  background: rgb(255, 252, 252);
  box-shadow: inset 0px 0px 2px 1px rgb(235, 226, 226);
  border-radius: 8px;

  outline: none;
  font-family: "SF Pro Text";
  font-weight: 600;
  font-size: 13px;
}

.input::placeholder {
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 13px;
  color: rgba(138, 138, 138, 0.589);
}

.input:focus {
  box-shadow: inset 0px 0px 2px 1px rgba(3, 32, 32, 0.432);
}

.label {
  display: inline-block;
  font-family: "SF Pro Text";
  font-weight: 600;
  font-size: 12px;
}

.text_wrapper {
  width: 100%;
}

.text {
  position: relative;

  text-align: end;
  font-family: "SF Pro Text";
  font-weight: 600;
  font-size: 12px;

  color: rgba(0, 0, 0, 0.753);
  cursor: pointer;
}

.text:hover {
  color: rgba(0, 0, 0, 0.664);
}

// .text::after {
//   position: absolute;
//   content: "Try to remember! Or follow the link";
//   bottom: 20px;
//   left: 325px;
//   width: 180px;
//   height: 60px;
//   background: rgb(223, 223, 223);
//   padding: 10px 15px 10px 15px;
//   border-radius: 10px;
//   text-align: left;

//   z-index: 5;
//   display: none;
// }

// .text:hover::after {
//   display: block;
// }

.textModal {
  position: absolute;
  bottom: 20px;
  left: 325px;
  width: 180px;
  height: 40px;
  background: rgb(241, 241, 241);
  padding: 10px 15px 10px 15px;
  border-radius: 10px;
  text-align: left;
  color: rgba(0, 0, 0, 0.753);

  display: none;
}
.text:hover .textModal {
  display: block;
}

.errors {
  width: 100%;
  text-align: right;

  font-family: "SF Pro Text";
  font-weight: 600;
  font-size: 10px;
  color: red;
  cursor: default;
}

.submit {
  width: 100%;
  padding: 10px 0px;

  background-color: rgba(16, 202, 202, 0.884);
  border-radius: 4px;

  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 12px;
  color: white;

  cursor: pointer;
}

.submit:disabled {
  background-color: rgba(16, 202, 202, 0.432);
  cursor: auto;
}

.submit:disabled:hover {
  background-color: rgba(16, 202, 202, 0.432);
}
.submit:hover {
  background-color: rgba(16, 202, 202, 0.767);
}

@media (max-width: 479px) {
  .form {
    display: grid;
    grid-template-rows: 60% 40%;
  }
}

@media (max-width: 479px) {
  .textModal {
    bottom: 19px;
    left: 165px;
    width: 180px;
    height: 40px;

    padding: 8px 13px 8px 13px;
    border-radius: 10px;
  }
}

@media (max-width: 375px) {
  .textModal {
    bottom: 19px;
    left: 130px;
    width: 160px;
    height: 34px;

    padding: 7px 12px 5px 12px;
    border-radius: 10px;
  }
}
